@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
/* note: period - when on same line as tag, spaces - when inside tag */

* {
    font-family: 'Lato', sans-serif;
}

/* general */

body {
    padding: 1.5%;
    margin: 0;
    /* background-size: cover; */
    background-color: #fff9f2;
    /* background-color: #53A7DB; */
    max-width: 100%;
    overflow-x: hidden;
}

/* input[type=text], input[type=password], input[type=email], input[type=number] {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    width: 60%;
} */

input[type=text], input[type=number] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 30%;
    min-height: 10%;
    max-height: 80%;
    min-width: 80%;
    max-width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 100%;
}

button {
    margin-top: 8px;
}

div.container, form.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    padding-top: 8px;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 45%;
}

footer {
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 30px;
    background: #2D2D2D;
    border-top: 2px solid #3E3E3E;
    text-align: center;
    padding: 8px;
}

footer p4 {
    color: aliceblue;
}

/* img */

.img-cropper {
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: #807f7f solid 1px;
}

img.logo {
    margin: 0;
    margin-left: -25%;
    height: 100%;
}

/* navbar */

header {
    position: fixed;
    width: 100%;
}

.logo-and-title {
    display: flex;
    margin: 8px;
}

.nav-title {
    color: #53A7DB;
    font-size: 140%;
    font-weight: bold;
    line-height: 1.5rem;
    font-weight: bold;
    margin: 8px;
    margin-top: 2px;
}

.navbar {
    display: flex;
    height: 8%;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(255, 255, 255, 0.87)!important;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.navbar .nav-link {
    color: #666666;
    height: 55px;
    vertical-align: middle;
    padding-top: 1rem;
}

/* browse form */

.b-form-container {
    height: 60%;
    width: 100%;
    background-image: url('img/book-and-grass.webp');
    background-size: cover;
}

.nav-link {
    text-decoration: none;
}

a {
    color: darkslateblue;
}

a:hover, a.nav-link:hover {
    color: #53A7DB;
}

#b-form {
    padding: 8% 21% 2%;
    margin: 0;
}

.browse-text input {
    width: 100%;
}

#b-form input {
    background-color: #f2f2f262;
}

/* nav links */

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul:hover li:not(:hover) a {
    opacity: 0.2;
}

ul li {
    position: relative;
    padding: 0px 25px;
    cursor: pointer;
}

ul li.nav-item::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #3498db;
    transform: scaleX(0);
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

ul li:hover::after, ul li.active::after {
    transform: scaleX(1);
}

ul li a {
    position: relative;
    display: flex;
    color: white;
    font-family: Lato, sans-serif;
    text-decoration: none;
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* books */

.list-group {
    background-color: #fff9f2cc;
    margin-right: 10%;
    border: solid whitesmoke 1px;
    /* box-shadow: cornflowerblue 1px; */
    border-radius: 6px;
    padding-bottom: 10px;
}

.list-group a {
    color: #666666;
}

.list-group p {
    margin: 10px auto;
}

/* login form */

.login-form {
    border: solid grey 1px;
    width: 50%;
}

.browse-link {
    margin-right: 10px;
    display: inline;
    font-size: large;
}

.browse-link a {
    text-decoration: none;
}

/* carousel */

.carousel-and-title{
    margin-top: -50px;
}

.jcarousel {
    padding: 18px 21%;
    overflow-x: hidden;
    height: 100%;
    display: flex;

    outline: thick grey 2px;
}

.jcarousel ul {
    background-color: #fff9f252;
    border-radius: 4px;
    border: solid #ccc 1.5px;
    display: flex;
    /* height: 220px; */
    /* overflow: hidden; */
}

.featured {
    text-align: center;
    margin-top: 0;
    /* color: #2D2D2D; */
    /* outline: thick #3498db 1px; */
}

.list-group img {
    width: 30px;
    /*position: relative;*/
    overflow: hidden;
    border: #807f7f solid 1px;
    max-width: 100%;
    padding: 2%;
}

.slick-track {
    transform: none!important;
    display: inline;
}

.jcarousel img, div.slick-slide.slick-active div div img {
    height: 240px;
}

/* errors */

.error {
    color: #FF0000;
}