/* browse form */

.b-form-container {
    height: 100%;
    width: 100%;
    background-image: url('../img/snow-peaks.jpg');
    /* background-image: url('../img/hand-to-hand.jpg'); */
    background-color: aliceblue;
    background-size: cover;
    padding-top: 180px;
}

#b-form {
    margin: 0 20%;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.browse-text {
    margin-bottom: 5px;
}

.browse-text input {
    width: 60%;
    /* height: 45px; */
    background-color: #f2f2f262;
    margin: 0;
    width: 100%;
}

.browse-link {
    margin-right: 10px;
    display: inline;
    font-size: large;
}

.browse-text-sidebar a{
    font-size: initial!important;
}

.browse-link a {
    font-size: 18px;
    text-decoration: none;
}

.browse-link a:visited {
    /* color: black; */
}

.browse-res {
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 5px;
}

/* carousel */

.carousel-and-title {
    height: fit-content;
}

.routing-group, carousel-and-title {
    /* margin-top: -200px; */
    height: 400px;
}

.routing-group.majors {
    /* background-color: #e6f3ffcf; */
    background-color: aliceblue;
}

.jcarousel {
    /* padding: 18px 21%; */
    padding: 0 5%;
}

.featured, .routing-title {
    /* text-align: center; */
    padding: 45px 45px 25px;
    font-size: x-large;
    margin-bottom: 15px;
    /* convert to ::before */
}

.slick-slide {
    height: 25%!important;
}

.slick-active>div>div {
    display: grid!important;
}

.slick-slider {
    /* margin-bottom: 100px!important; */
    width: 95%;
    margin: 0 20px;
}

.slick-slide img {
    height: 180px;
    border-radius: 1px;
    /* border: solid #ccc 1px; */
    /* margin: 18px 0 18px 17px; */
    width: 170px;
    border: none;
    margin: 30px auto 10px;
}

.slick-slide a {
    color: #464444;
}

.slick-slide h4 {
    margin: 10px auto 20px;
}

.book-tile-img {
    width: 170px;
    border: none;
}

.slick-list {
    background-color: #f2f2f282;
    border-radius: 5px;
    height: 27.5%;
    z-index: 2;
    padding: 20px 0!important;
}